

<form action="/dashboard" method="post">
  <div>
    <label>Username</label>
    <input id="username" name="username" type="var">
  </div>
  <div>
    <label>password</label>
    <input id="password" type="password" name="password">
  </div>
  <button type="submit">Login</button>
  <div>
    <a href="/signup">New User?Signup</a>
    </div>

</form>
  <p style="display:<%=danger%>">Invalid Usernamae Password</p>
