<div class="Navbar-sec">
    <div class="Navbar-inner">
      <div class="containeer">
        <div class="logo">
          <img class="logo_icon" alt="NULLIFY" src="\images\logo.png">
          <div class="logo-name">NULLIFY</div>
        </div>
        <div class="dropdown">
          <div class="name-dropdown">
  
            <img class="name_logo" alt="img" src="https://ui-avatars.com/api/?name=<%=firstname%>+<%=lastname%>" />
  
            <span class="name"><%=firstname%> <%=lastname%></span>
            <div class="dropdown-content">
              <a href="#">Profile</a>
              <a href="/logout">Log Out</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">