<form action="/dashboard" method="post" >
  <div>
    <label>First Name</label>
    <input id="firstname" type="var" name="firstName">

  </div>
  <div>
    <label>Last Name</label>
    <input id="lastname" type="var" name="lastName">
  </div>
  <div>
    <label>Email Id</label>
    <input id="emailid" type="email" name="emailId">
  </div>
  <div>
    <label>password</label>
    <input id="password" type="var" name="password">
  </div>
  <div>
    <label>Phone no</label>
    <input id="phoneno" type="var" name="phoneNo">
  </div>
  <button type="submit" name="button" value="signup_page">Submit</button>
</form>
